---
import Stain from "./ContactDecorations/Stain.astro";
import SmallsCircles from "../InteractiveFeaturesSection/InteractiveFeaturesDecorations/CardThree/SmallsCircles.astro";
---

<section 
id="contact" 
class="mt-32 px-4"
>
		<div class="relative bg-[#704FE6] sm:max-w-[1350px] 2xl:max-w-[1450px] mx-auto rounded-[50px] sm:rounded-[64px] px-4 py-16 sm:px-14 flex justify-center sm:justify-end">
			<div class="flex flex-col sm:mr-18 gap-10">
				<h1 class="text-4xl sm:text-5xl md:text-6xl leading-12 text-white font-medium">
					Join our 
					<span class="courgette text-[#FFBE17] flex items-center gap-3 h-fit">
						<Stain/> WonderKids
					</span> 
					community now
				</h1>

				<div class="flex flex-col gap-4">
					<input 
					  type="text"
					  placeholder="Name"
					  maxlength="35"
					  class="bg-white rounded-[64px] p-4 focus:outline-none"
					>

					<input 
					  type="text"
					  placeholder="Email or Phone"
					  maxlength="35"
					  class="bg-white rounded-[64px] p-4 focus:outline-none"
					>
				</div>

				<p class="cursor-pointer bg-[#FFB802] p-4 rounded-[64px] w-[220px] font-semibold text-center place-self-end sm:place-self-auto hover:opacity-95">
					Submit
				</p>
			</div>

			<img 
			  src="./images/contact.png" 
			  alt="Contact" 
			  class="hidden sm:block absolute z-10 left-5 bottom-0"
			>

			<SmallsCircles 
			  hidden="hidden sm:block" 
			  left="left-0" 
			  top="top-40" 
			  width={138} 
			  opacity="0.3"
			/>
		</div>
</section>