<svg
  class="hidden sm:block absolute -right-16 bottom-8 -z-10"
  width="262"
  height="198"
  viewBox="0 0 262 198"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <rect width="261.278" height="117.371" fill="url(#pattern0_21_1917)"></rect>
  <path
    d="M197.421 38.7834C190.66 38.7834 184.821 49.633 182.117 65.318C179.067 57.1785 174.898 52.1575 170.3 52.1575C163.539 52.1575 157.7 63.007 154.996 78.692C151.946 70.5525 147.777 65.5314 143.179 65.5314C136.418 65.5314 130.579 76.381 127.875 92.066C124.825 83.9265 120.656 78.9055 116.058 78.9055C109.296 78.9055 103.458 89.755 100.754 105.44C97.7038 97.3005 93.5349 92.2795 88.937 92.2795C82.1754 92.2795 76.3371 103.129 73.6324 118.814C70.5827 110.674 66.4138 105.653 61.8159 105.653C52.4803 105.653 44.9072 126.322 44.9072 151.827C44.9072 177.331 52.4803 198 61.8159 198C68.5776 198 74.4159 187.15 77.1205 171.465C80.1702 179.605 84.3391 184.626 88.937 184.626C95.6986 184.626 101.537 173.776 104.242 158.091C107.291 166.231 111.46 171.252 116.058 171.252C122.82 171.252 128.658 160.402 131.363 144.717C134.412 152.857 138.581 157.878 143.179 157.878C149.941 157.878 155.779 147.028 158.484 131.343C161.533 139.483 165.702 144.504 170.3 144.504C177.062 144.504 182.9 133.654 185.605 117.969C188.654 126.109 192.823 131.13 197.421 131.13C206.757 131.13 214.33 110.461 214.33 84.9567C214.33 59.4524 206.766 38.7834 197.421 38.7834Z"
    fill="#DEC8FE"></path>
  <mask
    id="mask0_21_1917"
    style="mask-type:alpha"
    maskUnits="userSpaceOnUse"
    x="44"
    y="38"
    width="171"
    height="160"
  >
    <path
      d="M197.421 38.7834C190.66 38.7834 184.821 49.633 182.117 65.318C179.067 57.1785 174.898 52.1575 170.3 52.1575C163.539 52.1575 157.7 63.007 154.996 78.692C151.946 70.5525 147.777 65.5314 143.179 65.5314C136.418 65.5314 130.579 76.381 127.875 92.066C124.825 83.9265 120.656 78.9055 116.058 78.9055C109.296 78.9055 103.458 89.755 100.754 105.44C97.7038 97.3005 93.5349 92.2795 88.937 92.2795C82.1754 92.2795 76.3371 103.129 73.6324 118.814C70.5827 110.674 66.4138 105.653 61.8159 105.653C52.4803 105.653 44.9072 126.322 44.9072 151.827C44.9072 177.331 52.4803 198 61.8159 198C68.5776 198 74.4159 187.15 77.1205 171.465C80.1702 179.605 84.3391 184.626 88.937 184.626C95.6986 184.626 101.537 173.776 104.242 158.091C107.291 166.231 111.46 171.252 116.058 171.252C122.82 171.252 128.658 160.402 131.363 144.717C134.412 152.857 138.581 157.878 143.179 157.878C149.941 157.878 155.779 147.028 158.484 131.343C161.533 139.483 165.702 144.504 170.3 144.504C177.062 144.504 182.9 133.654 185.605 117.969C188.654 126.109 192.823 131.13 197.421 131.13C206.757 131.13 214.33 110.461 214.33 84.9567C214.33 59.4524 206.766 38.7834 197.421 38.7834Z"
      fill="#DEC8FE"></path>
  </mask>
  <g mask="url(#mask0_21_1917)">
    <rect width="261.278" height="174.526" fill="url(#pattern1_21_1917)"></rect>
  </g>
  <defs>
    <pattern
      id="pattern0_21_1917"
      patternContentUnits="objectBoundingBox"
      width="1"
      height="1"
    >
      <use
        xlink:href="#image0_21_1917"
        transform="matrix(0.000501102 0 0 0.0011155 -0.00110184 0)"></use>
    </pattern>
    <pattern
      id="pattern1_21_1917"
      patternContentUnits="objectBoundingBox"
      width="1"
      height="1"
    >
      <use
        xlink:href="#image0_21_1917"
        transform="matrix(0.000501102 0 0 0.000750188 -0.00110183 0)"></use>
    </pattern>
  </defs>
</svg>

<div class="hidden sm:block absolute -right-12 bottom-15 -rotate-8">
  <img src="./images/kiddown.png" alt="kiddown" class="">
</div>