---
import { GoArrowUpRight } from "react-icons/go";
import DropdownMenu from "./DropdownMenu";
---

<div class="bg-[#704FE6] mb-5 py-2">
	<p class="text-white font-medium text-center">¡Take advantage of the current 15% discount!</p>
</div>
<header class="px-6 sm:px-12 flex justify-between items-center text-[#121212] sm:max-w-[1350px] 2xl:max-w-[1550px] mx-auto">
		<a href="/" class="flex items-center gap-3">
			<img src="./Logo.png" alt="Logo" width="28">
			<p class="font-semibold text-2xl">WonderKids</p>
		</a>

		<nav class="hidden sm:flex gap-4 text-sm">
			<a class="border hover:bg-slate-50 border-[#121212]/24 rounded-full px-5 py-1" href="#home">Home</a>
			<a class="border hover:bg-slate-50 border-[#121212]/24 rounded-full px-5 py-1" href="#teachers">Our teachers</a>
			<a class="border hover:bg-slate-50 border-[#121212]/24 rounded-full px-5 py-1" href="#contact">Contact</a>
		</nav>

		<div class="hidden sm:flex gap-4 font-semibold items-center">
			<a href="">Sign In</a>
			<a href="#contact" class="border border-[#704FE6] rounded-full text-[#704FE6] pl-5 pr-3 py-1.5 flex items-center gap-3 group hover:shadow-md hover:shadow-[#704FE6]/50 transition-shadow duration-300">
				Contact Us
				<div class="bg-[#704FE6] p-3 rounded-full group-hover:rotate-45 transition-transform duration-300">
					<GoArrowUpRight color="white"/>
				</div>				
			</a>
		</div>

		<DropdownMenu client:load/>
</header>