---
import Insignia from "./svgDecorations/InteractiveFeaturesDecorations/CardOne/Insignia.astro";
import Spiral from "./svgDecorations/InteractiveFeaturesDecorations/CardOne/Spiral.astro";

import InsigniaTwo from "./svgDecorations/InteractiveFeaturesDecorations/CardTwo/Insignia.astro";
import Stain from "./svgDecorations/InteractiveFeaturesDecorations/CardTwo/Stain.astro";

import InsigniaThree from "./svgDecorations/InteractiveFeaturesDecorations/CardThree/Insignia.astro";
import SmallsCircles from "./svgDecorations/InteractiveFeaturesDecorations/CardThree/SmallsCircles.astro";
---

<section class="my-20 px-4 py-10 sm:max-w-[1350px] 2xl:max-w-[1550px] mx-auto space-y-24 sm:space-y-0">
		<div class="flex flex-col sm:flex-row gap-y-8 sm:gap-y-0 items-center justify-normal sm:justify-between">
			<h1 class="text-[64px] leading-18 font-medium">
				Our 
				<span class="courgette text-[#704FE6]">interactive</span><br>
				features
			</h1>

			<div class="relative text-[#121212] text-lg">
				<svg width="294" height="233" viewBox="0 0 294 233" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path opacity="0.2" d="M134.36 220.421C111.373 229.83 86.1396 232.773 59.751 232.146C49.9787 231.921 39.226 229.317 28.4057 224.428C10.7816 216.471 -0.125464 194.146 0.465224 168.54C0.816355 153.401 4.13859 141.538 8.57211 131.37C14.8158 117.009 21.3568 102.97 29.0338 90.8504C35.5735 80.5025 43.8047 72.9225 51.4653 64.4303C56.2878 59.1027 61.0397 53.5471 66.5038 49.5231C79.6384 39.8292 92.7757 30.0875 106.646 22.0093C121.964 13.0845 139.456 10.0708 158.962 12.5435C166.008 13.4345 171.762 9.52579 178.109 7.805C181.227 6.95585 184.327 6.06663 187.453 5.23751C190.794 4.36729 194.048 3.22891 197.549 2.80717C206.701 1.67218 215.799 0.349157 225.221 0.038716C239.196 -0.420986 254.098 3.10913 270.656 16.2187C288.573 30.4098 296.294 53.4952 292.701 73.5506C289.215 93.0255 280.414 104.341 272.055 116.388C259.932 133.891 245.895 147.807 230.663 159.359C211.191 174.11 191.634 188.709 171.458 201.924C159.782 209.576 146.783 214.333 134.388 220.409L134.36 220.421ZM96.5649 44.824C96.3324 44.3348 96.1013 43.8216 95.8688 43.3324C90.7507 46.3045 85.2058 48.446 80.588 52.4289C65.6827 65.2731 50.7273 78.021 38.6042 96.202C28.1005 111.948 17.9909 128.281 12.3559 151.201C10.2089 159.946 8.8417 169.846 8.26166 180.266C7.60163 191.956 12.862 202.59 21.3776 208.395C24.3976 210.458 27.5872 212.639 30.3357 213.248C41.0312 215.549 51.7824 218.013 62.1333 219.006C84.6445 221.143 104.996 216.754 124.418 209.919C136.744 205.576 148.482 199.65 159.959 193.248C173.837 185.516 187.596 177.437 200.631 167.877C214.866 157.408 228.455 145.544 241.884 133.394C255.791 120.816 268.407 105.774 278.061 85.7963C281.719 78.2337 283.977 68.3215 285.684 58.1671C287.039 50.1407 284.016 42.3096 277.681 34.823C274.052 30.5317 270.136 26.8944 266.374 24.0125C253.637 14.2281 242.223 12.1734 231.261 11.4996C209.132 10.1653 188.785 14.1312 169.335 20.6516C165.677 21.8845 161.977 23.0411 158.142 23.7854C150.086 25.3848 141.733 26.1473 133.864 28.2313C126.446 30.2016 119.538 33.5056 112.329 36.0445C111.071 36.4868 109.115 35.298 108.025 36.0455C104.084 38.7017 100.376 41.8472 96.5757 44.7962L96.5649 44.824Z" fill="#DEC8FE"/>
				</svg>
				<p class="absolute rotate-40 top-14 left-2 bg-[#DEC8FE] py-2 px-8 rounded-full">#funny</p>
				<p class="absolute top-1/3 right-4 rotate-20 bg-[#FFD25D] py-2 px-8 rounded-full">#enjoy</p>
				<p class="absolute rotate-5 right-15 bottom-6  bg-[#704FE6] text-white py-2 px-8 rounded-full">#happy</p>
			</div>
		</div>

		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-4 sm:mt-8">

			<div class="relative bg-[#DEC8FE] h-[448px] px-10 py-12 rounded-[64px] space-y-8 overflow-clip hover:scale-105 hover:shadow-lg hover-[#DEC8FE]/80 transition-all duration-300">
				<Insignia/>
				<h1 class="text-5xl font-semibold">Fun <br> <span class="courgette font-normal">Quiz</span></h1>
				<p class="text-lg text-black/80 font-medium">Test your understanding with a short <br> but fun quizzes!</p>
				<Spiral/>
			</div>

			<div class="relative bg-[#704FE6] h-[448px] px-10 py-12 rounded-[64px] space-y-8 overflow-clip hover:scale-105 hover:shadow-lg hover-[#704FE6]/80 transition-all duration-300">
				<InsigniaTwo/>
				<h1 class="text-5xl text-white font-semibold">Creative <br> <span class="courgette font-normal">Activities</span></h1>
				<p class="text-lg text-white font-medium">Discover enjoyable activities such as <br> coloring, crafting, and science.</p>
				<Stain/>
			</div>

			<div class="relative bg-[#FFD25D] h-[448px] px-10 py-12 rounded-[64px] space-y-8 overflow-clip hover:scale-105 hover:shadow-lg hover-[#FFD25D]/80 transition-all duration-300">
				<InsigniaThree/>
				<h1 class="text-5xl font-semibold">Learn with <br> <span class="courgette font-normal">Games</span></h1>
				<p class="text-lg text-black/80 font-medium">Learn something new while your kids <br> playing games!</p>
                <SmallsCircles/>
			</div>
		</div>
</section>
