---
import { GoArrowUpRight } from "react-icons/go";
---

<section class="my-20 py-10 sm:max-w-[1350px] 2xl:max-w-[1550px] mx-auto px-4 w-full"> 
		<div class="flex flex-col sm:flex-row items-center justify-between gap-y-14 sm:gap-y-0">
			<div class="relative space-y-10">
				<h1 class="text-[64px] leading-18 font-medium">The learning materials <br> provided are <span class="courgette text-[#704FE6]">enjoyable</span> <br> for children</h1>

				<p class="text-[18px] text-[#636363] font-medium">Don’t worry! Your children will be having a fun time while learning with our <br> materials that are easy to understand.</p>
				
				<a class="w-fit font-semibold border border-[#704FE6] rounded-full text-[#704FE6] pl-5 pr-3 py-1.5 flex items-center gap-3 group hover:shadow-md hover:shadow-[#704FE6]/50 transition-shadow duration-300" href="#contact">
					Learn more
					<div class="bg-[#704FE6] p-3 rounded-full group-hover:rotate-45 transition-transform duration-300">
						<GoArrowUpRight color="white"/>
					</div>				
				</a>

				<svg class="absolute bottom-[48%] sm:bottom-auto -left-8 sm:left-auto sm:top-16 sm:-right-12 -z-10" width="369" height="120" viewBox="0 0 369 120" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M147.585 102.592C149.726 101.918 151.822 100.911 153.998 100.62C173.241 98.1252 192.585 96.3055 211.731 93.1863C226.728 90.7392 241.55 86.9912 256.357 83.3599C273.347 79.1927 290.464 75.3648 307.09 69.8571C322.251 64.8271 337.581 59.6838 351.062 50.0003C352.726 48.8024 354.364 47.5676 355.951 46.2588C364.583 39.1052 361.806 31.1375 354.822 25.4922C345.808 18.2122 335.097 15.6823 324.353 13.5532C303.928 9.49823 283.328 8.03971 262.643 7.6541C227.48 7.00752 192.483 8.83295 157.564 13.0074C127.047 16.648 97.0002 22.7545 67.35 31.087C51.9229 35.4262 36.6925 40.6662 22.8533 49.4718C18.263 52.397 14.0517 56.3403 10.3349 60.5355C5.73589 65.7379 6.47826 71.9811 11.364 77.1022C19.5236 85.6578 29.8597 89.652 40.0534 93.7965C59.0271 101.506 78.6733 106.355 98.5825 109.632C109.987 111.501 121.515 112.346 132.971 113.736C135.759 114.076 138.518 114.713 141.506 115.258C128.326 121.733 114.802 118.659 101.506 117.153C82.7663 115.025 64.2919 110.989 46.37 104.23C32.8003 99.1142 19.4376 93.3937 7.99565 83.5008C-3.05173 73.9432 -1.14844 60.5751 7.7449 51.8229C20.7051 39.0594 36.9156 32.8831 53.441 27.819C62.3506 25.0855 71.2742 22.3897 80.2793 20.0619C89.2619 17.7483 98.3277 15.8282 107.397 13.9721C109.61 13.5116 111.984 13.9542 113.257 13.9642C116.018 13.1348 117.943 12.5637 119.855 11.9677C122.763 11.0775 126.093 10.9326 128.764 10.7262C132.714 10.4138 136.518 6.86914 141.055 9.59401C142.765 10.6185 145.86 8.61039 148.357 8.22201C154.737 7.21668 161.135 6.30029 167.535 5.42234C174.398 4.48955 181.263 3.40229 188.161 2.84032C192.307 2.5027 196.524 3.29256 200.694 3.14639C203.827 3.0396 206.911 1.97119 210.042 1.82597C215.151 1.5822 220.283 1.89007 225.394 1.67193C228.653 1.53149 232.073 -0.136845 235.095 0.586567C243.022 2.46818 250.775 0.643453 258.588 0.70575C268.129 0.775259 277.698 1.10028 287.225 1.8781C308.566 3.61164 330.009 5.10725 350.206 14.2573C354.111 16.0314 357.948 18.5816 361.117 21.6496C371.26 31.4955 370.101 45.5629 359.055 53.8586C344.207 65.0043 327.615 71.7962 310.392 76.724C288.297 83.0513 265.984 88.5176 243.827 94.6172C223.082 100.332 202.019 103.778 180.651 104.966C170.787 105.508 160.86 104.871 150.95 104.683C149.886 104.66 148.834 104.07 147.774 103.738C147.715 103.356 147.656 102.974 147.597 102.592L147.585 102.592Z" fill="#FFD25D"/>
				</svg>

			</div>

			<div class="flex flex-col items-end gap-6 w-full sm:w-auto">
				<figure class="relative w-[75%] sm:w-[327px] h-[147px] bg-[#DEC8FE] rounded-full">
					<img 
					 src="./images/littlegirl3.png" 
					 alt="littlegirl3"
					 class="absolute bottom-0 left-10 z-10"
					>

					<svg class="absolute -top-16 right-6" width="127" height="127" viewBox="0 0 127 127" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M127 63.5C127 67.5518 121.387 71.039 120.623 74.8583C119.826 78.8104 123.679 84.1574 122.184 87.8107C120.657 91.5303 114.147 92.5599 111.922 95.8478C109.697 99.1689 111.191 105.579 108.402 108.402C105.579 111.225 99.1689 109.697 95.8478 111.922C92.5599 114.114 91.4971 120.623 87.8107 122.184C84.1574 123.679 78.8436 119.86 74.8583 120.623C71.0058 121.387 67.5518 127 63.5 127C59.4482 127 55.961 121.387 52.1417 120.623C48.1896 119.826 42.8426 123.679 39.1893 122.184C35.4697 120.657 34.4401 114.147 31.1522 111.922C27.8311 109.697 21.4213 111.191 18.5983 108.402C15.7754 105.579 17.3031 99.1689 15.0779 95.8478C12.886 92.5599 6.37657 91.4971 4.81564 87.8107C3.32113 84.1574 7.14043 78.8436 6.37657 74.8583C5.61271 71.0058 0 67.5518 0 63.5C0 59.4482 5.61271 55.961 6.37657 52.1417C7.17364 48.1896 3.32113 42.8426 4.81564 39.1893C6.34336 35.4697 12.8528 34.4401 15.0779 31.1522C17.3031 27.8311 15.8086 21.4213 18.5983 18.5983C21.4213 15.7754 27.8311 17.3031 31.1522 15.0779C34.4401 12.886 35.5029 6.37657 39.1893 4.81564C42.8426 3.32113 48.1564 7.14042 52.1417 6.37656C55.9942 5.6127 59.4482 0 63.5 0C67.5518 0 71.039 5.6127 74.8583 6.37656C78.8104 7.17363 84.1574 3.32113 87.8107 4.81564C91.5303 6.34336 92.5599 12.8528 95.8478 15.0779C99.1689 17.3031 105.579 15.8086 108.402 18.5983C111.225 21.4213 109.697 27.8311 111.922 31.1522C114.114 34.4401 120.623 35.5029 122.184 39.1893C123.679 42.8426 119.86 48.1564 120.623 52.1417C121.387 55.9942 127 59.4482 127 63.5Z" fill="#FFD25D" fill-opacity="1"/>
					</svg>
				</figure>

				<figure class="relative w-[85%] sm:w-[460px] h-[147px] bg-[#704FE6] rounded-full">
					<img 
					 src="./images/littlegirl2.png" 
					 alt="littlegirl2"
					 class="absolute -bottom-0.5 right-2 z-10"
					>

					<svg class="absolute top-3 -left-10" width="230" height="101" viewBox="0 0 230 101" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M224.956 8.3672C218.303 4.72834 206.705 12.2878 195.582 26.3031C196.973 16.6335 195.58 9.43741 191.056 6.96298C184.403 3.32411 172.806 10.8836 161.682 24.8989C163.073 15.2293 161.68 8.03319 157.156 5.55876C150.504 1.9199 138.906 9.47935 127.783 23.4946C129.174 13.825 127.781 6.629 123.257 4.15457C116.604 0.515704 105.007 8.07514 93.8833 22.0904C95.274 12.4208 93.8811 5.22478 89.3573 2.75035C82.7046 -0.888516 71.1069 6.67092 59.9837 20.6862C61.3744 11.0166 59.9816 3.82056 55.4578 1.34613C46.2725 -3.67801 27.6704 12.6332 13.9106 37.7893C0.150764 62.9454 -3.54927 87.4077 5.63603 92.4318C12.2887 96.0707 23.8864 88.5112 35.0097 74.4959C33.6189 84.1656 35.0117 91.3616 39.5355 93.836C46.1882 97.4749 57.7859 89.9154 68.9092 75.9001C67.5185 85.5698 68.9113 92.7658 73.4351 95.2402C80.0878 98.8791 91.6854 91.3196 102.809 77.3044C101.418 86.974 102.811 94.17 107.335 96.6444C113.987 100.283 125.585 92.7239 136.708 78.7086C135.318 88.3782 136.71 95.5742 141.234 98.0487C147.887 101.688 159.485 94.1281 170.608 80.1128C169.217 89.7824 170.61 96.9785 175.134 99.4529C184.319 104.477 202.921 88.1658 216.681 63.0097C230.441 37.8536 234.15 13.3964 224.956 8.3672Z" fill="#DEC8FE"/>
					</svg>

				</figure>

				<figure class="relative w-[95%] sm:w-[532px] h-[147px] bg-[#FFD25D] rounded-full">
					<img 
					 src="./images/littlegirl1.png" 
					 alt="littlegirl1"
					 class="absolute -bottom-0.5 left-12 z-10"
					>

					<svg class="absolute -bottom-14 right-8" width="130" height="130" viewBox="0 0 130 130" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M65.0001 81.4988C56.0524 81.4988 48.7773 74.2237 48.7773 65.276C48.7773 56.3283 56.0524 49.0532 65.0001 49.0532C73.9478 49.0532 81.223 56.3283 81.223 65.276C81.2094 74.2237 73.9342 81.4988 65.0001 81.4988ZM65.0001 55.866C59.8056 55.866 55.5765 60.0951 55.5765 65.2896C55.5765 70.4842 59.8056 74.7132 65.0001 74.7132C70.1947 74.7132 74.4238 70.4842 74.4238 65.2896C74.4238 60.0951 70.1947 55.866 65.0001 55.866Z" fill="#704FE6"/>
						<path d="M65.0276 93.8596C63.0695 93.8596 61.1113 93.6556 59.1804 93.2613C51.7149 91.7111 45.2965 87.3324 41.1082 80.9548C36.9199 74.5772 35.4785 66.9485 37.0287 59.4694C38.3749 52.9966 41.9513 47.1629 47.0778 43.029C52.15 38.9495 58.5005 36.7058 64.9733 36.7058C66.9314 36.7058 68.8896 36.9098 70.8205 37.3041C78.286 38.8543 84.7044 43.233 88.8927 49.6106C93.081 55.9882 94.5224 63.6169 92.9722 71.096C91.626 77.5688 88.0496 83.4025 82.923 87.5364C77.8373 91.6159 71.4868 93.8596 65.0276 93.8596ZM64.9733 43.505C54.7337 43.505 45.7724 50.7936 43.6783 60.8428C41.2306 72.5918 48.8048 84.1504 60.5538 86.5981C62.0224 86.9109 63.5318 87.0604 65.014 87.0604C75.2536 87.0604 84.2149 79.7717 86.309 69.7226C87.4921 64.0249 86.3906 58.2183 83.2086 53.3501C80.0266 48.4819 75.1312 45.1504 69.4335 43.9673C67.9649 43.6681 66.4555 43.505 64.9733 43.505Z" fill="#704FE6"/>
						<path d="M65.0406 105.812C63.7896 105.812 62.5249 105.758 61.2602 105.636C50.4768 104.643 40.7404 99.5028 33.8188 91.1806C26.8973 82.8585 23.6473 72.3334 24.64 61.5635C25.5782 51.4463 30.2289 42.1043 37.7624 35.2915C45.2414 28.5059 54.8962 24.78 64.9454 24.78C66.1964 24.78 67.4611 24.8344 68.7257 24.9568C79.5092 25.9495 89.2456 31.0896 96.1672 39.4118C103.089 47.734 106.339 58.2591 105.346 69.0426C104.408 79.1597 99.7571 88.5018 92.2236 95.3145C84.7446 102.073 75.0898 105.812 65.0406 105.812ZM64.9454 31.5656C47.4443 31.5656 33.0301 44.7288 31.4119 62.189C29.6985 80.71 43.3648 97.1639 61.8858 98.8773C62.9328 98.9725 63.9935 99.0269 65.0406 99.0269C82.5417 99.0269 96.9558 85.8637 98.574 68.4034C100.287 49.8825 86.6212 33.4286 68.1002 31.7152C67.0532 31.6064 65.9925 31.5656 64.9454 31.5656Z" fill="#704FE6"/>
						<path d="M65.0266 117.997C64.4146 117.997 63.7891 117.983 63.1636 117.969C56.0517 117.725 49.1981 116.093 42.7933 113.115C36.6061 110.246 31.1123 106.248 26.4345 101.244C21.7567 96.2393 18.1667 90.4736 15.7326 84.1096C13.2033 77.5144 12.0611 70.5657 12.3058 63.4538C12.7818 49.7059 18.4931 36.8826 28.4063 27.3366C38.2787 17.8178 51.2651 12.5688 64.9586 12.5688C65.5705 12.5688 66.196 12.5824 66.8215 12.596C73.9334 12.8408 80.787 14.4726 87.1918 17.4506C93.3791 20.3199 98.8728 24.3178 103.551 29.322C108.228 34.3262 111.818 40.0919 114.253 46.4559C116.782 53.0511 117.924 59.9998 117.679 67.1117C117.203 80.8596 111.492 93.6829 101.579 103.229C91.7065 112.761 78.7201 117.997 65.0266 117.997ZM64.9586 19.368C40.1008 19.368 19.9617 38.8408 19.105 63.6985C18.2211 89.005 38.1019 110.3 63.3948 111.184C63.9387 111.198 64.4826 111.211 65.013 111.211C89.8707 111.211 110.01 91.7383 110.867 66.8806C111.75 41.5741 91.8697 20.2791 66.5768 19.3952C66.0464 19.3816 65.5025 19.368 64.9586 19.368Z" fill="#704FE6"/>
						<path d="M65 130.29C56.2291 130.29 47.7165 128.576 39.6935 125.177C31.9561 121.899 25.0073 117.222 19.0377 111.252C13.068 105.282 8.37658 98.3335 5.11298 90.596C1.727 82.573 0 74.0605 0 65.2896C0 56.5186 1.7134 48.0061 5.11298 39.9831C8.39018 32.2456 13.068 25.2969 19.0377 19.3272C25.0073 13.3575 31.9561 8.66613 39.6935 5.40253C47.7165 2.01655 56.2291 0.289551 65 0.289551C73.7709 0.289551 82.2835 2.00295 90.3065 5.40253C98.0439 8.67973 104.993 13.3575 110.962 19.3272C116.932 25.2969 121.623 32.2456 124.887 39.9831C128.273 48.0061 130 56.5186 130 65.2896C130 74.0605 128.287 82.573 124.887 90.596C121.61 98.3335 116.932 105.282 110.962 111.252C104.993 117.222 98.0439 121.913 90.3065 125.177C82.2835 128.576 73.7709 130.29 65 130.29ZM65 7.0751C32.9079 7.0751 6.79916 33.1839 6.79916 65.2759C6.79916 97.368 32.9079 123.477 65 123.477C97.092 123.477 123.201 97.368 123.201 65.2759C123.201 33.1975 97.092 7.0751 65 7.0751Z" fill="#704FE6"/>
					</svg>
				</figure>
			</div>
		</div>
	</section>