---
import { GoArrowUpRight } from "react-icons/go";
---

	<section class="my-20 sm:max-w-[1350px] 2xl:max-w-[1450px] mx-auto px-4">
		<div class="flex flex-col sm:flex-row justify-between  sm:items-center gap-y-4 sm:gap-y-0">
			<h1 class="text-[64px] font-medium leading-20">Read our <span class="courgette font-medium text-7xl text-[#704FE6]">blog</span></h1>

			<div class="flex justify-end sm:justify-normal items-center gap-4 cursor-pointer group">
				<p class="text-[#704FE6] font-semibold">See All</p>
				<div class="bg-[#704FE6] p-4 rounded-full group-hover:rotate-45 transition-transform duration-300">
					<GoArrowUpRight color="white"/>
				</div>	
			</div>
		</div>
		
		<div class="flex flex-col sm:flex-row justify-center items-center gap-10 my-16">

			<div class="bg-[#F5F5F5] h-[448px] rounded-[48px]">
				<img src="./images/blog3.png" alt="blog3">
				<div class="flex flex-col gap-4 py-6 px-8">
					<p class="text-2xl font-semibold">Learning with Games?</p>
					<p class="font-medium text-[#636363]">Embrace the joy of games to enhance your <br> learning experience!</p>
					<div class="flex items-center gap-4 cursor-pointer group">
						<p class="text-[#704FE6] font-semibold">Learn more</p>
						<div class="bg-[#704FE6] p-3 rounded-full group-hover:rotate-45 transition-transform duration-300">
							<GoArrowUpRight color="white"/>
						</div>	
					</div>
				</div>
			</div>

			<div class="bg-[#F5F5F5] h-[448px] rounded-[48px]">
				<img src="./images/blog1.png" alt="blog1">
				<div class="flex flex-col gap-4 py-6 px-8">
					<p class="text-2xl font-semibold">10 Learning Game Ideas</p>
					<p class="font-medium text-[#636363]">10 ideas for learning with for your kids to <br> have fun.</p>
					<div class="flex items-center gap-4 cursor-pointer group">
						<p class="text-[#704FE6] font-semibold">Learn more</p>
						<div class="bg-[#704FE6] p-3 rounded-full group-hover:rotate-45 transition-transform duration-300">
							<GoArrowUpRight color="white"/>
						</div>	
					</div>
				</div>
			</div>

			<div class="bg-[#F5F5F5] h-[448px] rounded-[48px]">
				<img src="./images/blog2.png" alt="blog2">
				<div class="flex flex-col gap-4 py-6 px-8">
					<p class="text-2xl font-semibold">Fun Activities for Kids</p>
					<p class="font-medium text-[#636363]">Want to do something outside from your <br> laptop? Here are our recommendations.</p>
					<div class="flex items-center gap-4 cursor-pointer group">
						<p class="text-[#704FE6] font-semibold">Learn more</p>
						<div class="bg-[#704FE6] p-3 rounded-full group-hover:rotate-45 transition-transform duration-300">
							<GoArrowUpRight color="white"/>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</section>