---
import CardFAQ from "./CardFAQ.astro"

export type Question = {
	questionFirstLine: string,
    questionSecLine?: string
}

const Questions : Question[] = [
	{
		questionFirstLine: "What makes WonderKids different from",
    	questionSecLine: "other education platforms?"
	},
	{
		questionFirstLine: "How can I access WonderKids?"
	},
	{
		questionFirstLine: "What about the security of children's data",
    	questionSecLine: "using this platform?"
	}
]
---

<section class="my-32 sm:max-w-[1350px] 2xl:max-w-[1450px] mx-auto px-4">
		<div class="flex flex-col gap-y-12 sm:gap-y-0 sm:flex-row justify-normal sm:justify-between">
			<div class="relative">
				<h1 class="text-[64px] font-medium leading-18">
					Frequently 
					<span class="courgette text-[#704FE6]">asked</span> <br>
					questions
				</h1>

				<svg class="hidden sm:block absolute -z-20" width="127" height="127" viewBox="0 0 127 127" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M127 63.5C127 67.5518 121.387 71.039 120.623 74.8583C119.826 78.8104 123.679 84.1574 122.184 87.8107C120.657 91.5303 114.147 92.5599 111.922 95.8478C109.697 99.1689 111.191 105.579 108.402 108.402C105.579 111.225 99.1689 109.697 95.8478 111.922C92.5599 114.114 91.4971 120.623 87.8107 122.184C84.1574 123.679 78.8436 119.86 74.8583 120.623C71.0058 121.387 67.5518 127 63.5 127C59.4482 127 55.961 121.387 52.1417 120.623C48.1896 119.826 42.8426 123.679 39.1893 122.184C35.4697 120.657 34.4401 114.147 31.1522 111.922C27.8311 109.697 21.4213 111.191 18.5983 108.402C15.7754 105.579 17.3031 99.1689 15.0779 95.8478C12.886 92.5599 6.37657 91.4971 4.81564 87.8107C3.32113 84.1574 7.14043 78.8436 6.37657 74.8583C5.61271 71.0058 0 67.5518 0 63.5C0 59.4482 5.61271 55.961 6.37657 52.1417C7.17364 48.1896 3.32113 42.8426 4.81564 39.1893C6.34336 35.4697 12.8528 34.4401 15.0779 31.1522C17.3031 27.8311 15.8086 21.4213 18.5983 18.5983C21.4213 15.7754 27.8311 17.3031 31.1522 15.0779C34.4401 12.886 35.5029 6.37657 39.1893 4.81564C42.8426 3.32113 48.1564 7.14042 52.1417 6.37656C55.9942 5.6127 59.4482 0 63.5 0C67.5518 0 71.039 5.6127 74.8583 6.37656C78.8104 7.17363 84.1574 3.32113 87.8107 4.81564C91.5303 6.34336 92.5599 12.8528 95.8478 15.0779C99.1689 17.3031 105.579 15.8086 108.402 18.5983C111.225 21.4213 109.697 27.8311 111.922 31.1522C114.114 34.4401 120.623 35.5029 122.184 39.1893C123.679 42.8426 119.86 48.1564 120.623 52.1417C121.387 55.9942 127 59.4482 127 63.5Z" fill="#FFD25D" fill-opacity="1"/>
				</svg>
				<svg class="hidden sm:block absolute -rotate-3 left-1/2 top-3/7 -z-20" width="230" height="101" viewBox="0 0 230 101" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M224.956 8.3672C218.303 4.72834 206.705 12.2878 195.582 26.3031C196.973 16.6335 195.58 9.43741 191.056 6.96298C184.403 3.32411 172.806 10.8836 161.682 24.8989C163.073 15.2293 161.68 8.03319 157.156 5.55876C150.504 1.9199 138.906 9.47935 127.783 23.4946C129.174 13.825 127.781 6.629 123.257 4.15457C116.604 0.515704 105.007 8.07514 93.8833 22.0904C95.274 12.4208 93.8811 5.22478 89.3573 2.75035C82.7046 -0.888516 71.1069 6.67092 59.9837 20.6862C61.3744 11.0166 59.9816 3.82056 55.4578 1.34613C46.2725 -3.67801 27.6704 12.6332 13.9106 37.7893C0.150764 62.9454 -3.54927 87.4077 5.63603 92.4318C12.2887 96.0707 23.8864 88.5112 35.0097 74.4959C33.6189 84.1656 35.0117 91.3616 39.5355 93.836C46.1882 97.4749 57.7859 89.9154 68.9092 75.9001C67.5185 85.5698 68.9113 92.7658 73.4351 95.2402C80.0878 98.8791 91.6854 91.3196 102.809 77.3044C101.418 86.974 102.811 94.17 107.335 96.6444C113.987 100.283 125.585 92.7239 136.708 78.7086C135.318 88.3782 136.71 95.5742 141.234 98.0487C147.887 101.688 159.485 94.1281 170.608 80.1128C169.217 89.7824 170.61 96.9785 175.134 99.4529C184.319 104.477 202.921 88.1658 216.681 63.0097C230.441 37.8536 234.15 13.3964 224.956 8.3672Z" fill="#9B84EE"/>
				</svg>
			</div>

			<div class="flex flex-col gap-4 sm:w-[55%]">
				{  Questions.map((question) => <CardFAQ {...question}/>)  }
			</div>
		</div>
</section>