<div class="cursor-pointer border border-[#704FE6] p-2 rounded-full">
	<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M20 9.99805C20 4.47805 15.52 -0.00195312 10 -0.00195312C4.48 -0.00195312 0 4.47805 0 9.99805C0 14.838 3.44 18.868 8 19.798V12.998H6V9.99805H8V7.49805C8 5.56805 9.57 3.99805 11.5 3.99805H14V6.99805H12C11.45 6.99805 11 7.44805 11 7.99805V9.99805H14V12.998H11V19.948C16.05 19.448 20 15.188 20 9.99805Z" fill="#704FE6"/>
	</svg>
</div>